* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.nav-link {
  color: #000;
}

@media (max-width: 575.98px) {
  .top-red {
    font-size: 15px;
  }
}
@media (max-width: 427px) {
  .top-red {
    font-size: 12px;
  }
}
@media (max-width: 377px) {
  .top-red {
    font-size: 11px;
  }
}
@media (max-width: 357px) {
  .top-red {
    font-size: 10px;
  }
}
@media (max-width: 341px) {
  .top-red {
    font-size: 8px;
  }
}
/* auth btn */
@media (max-width: 991.98px) {
  .auth-btn {
    display: flex;
    flex-direction: column;
  }
}
/* featured categories */
.category img {
  filter: brightness(0.4);
  cursor: pointer;
}
.category img:hover {
  filter: brightness(0.9);
}
.category {
  position: relative;
}
.category-title1 {
  color: #fff;
  position: absolute;
  top: 70%;
  left: 4%;
}
.category-title2 {
  color: #fff;
  position: absolute;
  top: 70%;
  left: 29%;
}

.category-title3 {
  color: #fff;
  position: absolute;
  top: 70%;
  left: 54%;
}
.category-title4 {
  color: #fff;
  position: absolute;
  top: 70%;
  left: 78%;
}

/* Media Query of category features */
@media (max-width: 1399.98px) {
  .category-title1 {
    color: #fff;
    position: absolute;
    top: 65%;
    left: 4%;
  }
  .category-title2 {
    color: #fff;
    position: absolute;
    top: 65%;
    left: 29%;
  }

  .category-title3 {
    color: #fff;
    position: absolute;
    top: 65%;
    left: 53%;
  }
  .category-title4 {
    color: #fff;
    position: absolute;
    top: 65%;
    left: 78%;
  }
}
@media (max-width: 1199.98px) {
  .category-title1 {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 4%;
  }
  .category-title2 {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 29%;
  }

  .category-title3 {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 53%;
  }
  .category-title4 {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 78%;
  }
}

@media (max-width: 991.98px) {
  .category-title1 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 10px;
  }
  .category-title2 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 29%;
    font-size: 10px;
  }

  .category-title3 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 53%;
    font-size: 10px;
  }
  .category-title4 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 78%;
    font-size: 10px;
  }
}
@media (max-width: 767.98px) {
  .category-title1 {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 4%;
    font-size: 10px;
  }
  .category-title2 {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 55%;
    font-size: 10px;
  }

  .category-title3 {
    color: #fff;
    position: absolute;
    top: 85%;
    left: 4%;
    font-size: 10px;
  }
  .category-title4 {
    color: #fff;
    position: absolute;
    top: 85%;
    left: 55%;
    font-size: 10px;
  }
}

@media (max-width: 575.98px) {
  .category-title1 {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 10px;
  }
  .category-title2 {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 55%;
    font-size: 10px;
  }

  .category-title3 {
    color: #fff;
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 10px;
  }
  .category-title4 {
    color: #fff;
    position: absolute;
    top: 85%;
    left: 55%;
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .category-title1 {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 10px;
  }
  .category-title2 {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 55%;
    font-size: 10px;
  }

  .category-title3 {
    color: #fff;
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 10px;
  }

  .category-title4 {
    color: #fff;
    position: absolute;
    top: 80%;
    left: 55%;
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .category-title1 {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 10px;
  }

  .category-title2 {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 55%;
    font-size: 10px;
  }

  .category-title3 {
    color: #fff;
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 10px;
  }

  .category-title4 {
    color: #fff;
    position: absolute;
    top: 80%;
    left: 55%;
    font-size: 10px;
  }
}

/* Property */
.card {
  border: none;
  cursor: pointer;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* User card */
@media (max-width: 767px) {
  .user-div .rounded-circle {
    width: 20px;
  }
  .user-div span {
    font-size: 10px;
  }
  .user-div i {
    font-size: 8px;
  }
  .user-div .time span {
    font-size: 8px;
  }
}
/* slides */
#container {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

#slider-container {
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn-slide {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid pink;
  border-top: 8px solid pink;
  cursor: pointer;
  z-index: 1;
}

#slider-container .btn-slide:hover {
  transform: scale(1.2);
}

#slider-container .btn-slide.inactive {
  border-color: rgb(153, 121, 126);
}

#slider-container .btn-slide:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}

#slider-container .btn-slide:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  display: grid;
  place-items: center;
}
#slider-container #slider .slide .card {
  border: none;
}
#slider-container #slider .slide .card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#slider-container #slider .slide span {
  color: white;
  font-size: 150px;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}
@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(6% - 20px);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
